*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
  width: 500px;
  height: 500px;
  border-radius: 500px;
  
  background-color: #8D9EA3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  overflow: hidden;
  
  /* apply animation */
  animation-name: changeBgColor;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-play-state:running;
  animation-fill-mode: forwards; 
  animation-timing-function: ease-in-out;
}

.sun{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  
  background-color: lightgoldenrodyellow;
  position: relative;
  left: 200px;
  
  animation-name: sun;
  animation-duration: 6s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sea {
  position: relative;
  height: 100px;
  width: 600px;
  background: #e0efe3;
}

/* keyframes */
@keyframes changeBgColor{
  0% {
    background-color:  #8D9EA3;
  }
  60% {
    background-color: skyblue;
  }
  100% {
    background-color: #ff6666;
  }
}

@keyframes sun{
  0%{
    bottom: 0;
    background-color: lightgoldenrodyellow;
  }
  50%{
    bottom: 200px;
    background-color: #ffff7f;
  }
  99%{
    bottom: 2px;
    background-color: orange;
  }
  }
  100% {
    bottom: 0;
  }
}