*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
  
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  
  background-color: #8D9EA3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  overflow: hidden;
  
  /* apply animation */
  animation-name: changeBgColor;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-play-state:running;
  animation-fill-mode: forwards; 
  animation-timing-function: ease-in-out;
}

.sun{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 0px 0px 50px lightyellow;
  
  background-color: lightgoldenrodyellow;
  position: relative;
  left: 200px;
  top: 150px;
  
  /* apply animation */
  animation-name: sun;
  animation-duration: 8s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sea {
  position: relative;
  height: 80px;
  width: 600px;
  background-color: #006699;
  top: 50px;
  
  /* apply animation */
  animation-name: seaColor;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-play-state:running;
  animation-fill-mode: forwards; 
  animation-timing-function: ease-in-out;
}

.sand {
  position: relative;
  height: 50px;
  width: 600px;
  background-color:  #f3cbaf;
  
  /* apply animation */ 
}

.boat{
  width: 30px;
  left: 340px;
  top: 70px;
  position: relative;
  z-index: 1;
  
   /* apply animation */
  animation-name: boat;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

.snail{
  width: 50px;
  position: relative;
  top: 20px;
  left: 80px;
  z-index: 1;
  
  /* apply animation */
  animation-name: snail;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

/* keyframes */
@keyframes changeBgColor{
  0% {
    background-color:  #8D9EA3;
  }
  40%,60% {
    background-color: skyblue;
  }
  80%{
    background-color: #ff6666;
  }
  100% {
    background-color: #191970;
  }
}

@keyframes sun{
  0%{
    background-color: lightgoldenrodyellow;
  }
  40%,60%{
    top: -70px;
    background-color: #ffff7f;
  }
  80% {
    background-color: orange;
    top: 140px;
  }
  100% {
    background-color: #660033;
    top: 200px;
  }
}

@keyframes seaColor{
  0% {
    background-color: #1c507d;
  }
  33% {
    background-color: #49bfca;
  }
  40%,60% {
    background-color: #61c8d1;
    height: 100px;
  }
  80% {
    background-color: #5b1c15;
  }
  100%{
    background-color: #213465;
  }
}

@keyframes boat {
  0% {
    left: 340px;
    top: 75px;
  }
  10% {
    left: 345px;
    top: 70px;
  }
  80%{
    left: 340px;
    top: 75px;
  }
}

@keyframes snail{
  0%{
    left: 30px;
  }
  100%{
    left: 420px;
  }
}

.coconut{
  width: 50px;
  height: 90px;
  
  background-image: url(img/coconut-illustration-01.png);
  background-position: 0 0;
  
  animation-name: coconutAnimation;
  animation-duration: 2s;
  animation-timing-function: steps(4,start);
  animation-iteration-count: infinite;
  animation-direction:normal;
}

@keyframes coconutAnimation{
  0%{
    background-position: 0 top;
  }
  100%{
    left: 50px;
    background-position: 0 -360px;
  }
}

.walk {
  width: 50px;
  height: 90px;
  
  position: absolute;
  z-index: 1;
  
  animation-name: movingforwards;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes movingforwards{
  0% {
      left: 0;
  }
  100%{
    left: 400px;
  }
}
